<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esoft.mybatis.d.StudentMapper">

    <resultMap id="studentResultMap" type="com.esoft.mybatis.m.Student">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <association property="clazz" column="clazz_id" javaType="com.esoft.mybatis.m.Clazz" select="selectClazzWithId" />
    </resultMap>

    <select id="selectClazzWithId" resultType="com.esoft.mybatis.m.Clazz">
        SELECT * FROM tb_clazz where id=#{id}
    </select>

    <select id="selectStudent" resultMap="studentResultMap">
        SELECT * FROM tb_student
    </select>

    <select id="selectStudentById" parameterType="int" resultMap="studentResultMap">
        SELECT * FROM tb_student WHERE  id=#{id}
    </select>

</mapper>